<div class="container">
    <h1 class="titulo darkshadow">Classificação Atual</h1>
    <%@gpclass.each do |gpc|%>
        <div class="subtitulo darkshadow">
            <h3>Grupo <%=gpc.nome%></h3>
        </div>
         <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>Pts</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>Jgs</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>V</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>E</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>D</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>GP</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>GC</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>SG</h5>
            </div>
            <div class="col-sm-1 hdclass darkshadow">
                <h5>Status</h5>
            </div>
        </div>
        <div class="placar">
            <%gpc.selecaos.sort_by{ |t| [denilizador(t.pt)*-1, denilizador(t.sg)*-1, denilizador(t.gp)*-1]}.each do |sl|%>
                <div class="placar_line">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="<%=sl.bandeira%>">
                        </div>
                        <div class="col-sm-2">
                            <p><%=sl.nome%></p>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.pt)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.jg)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.vt)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.ep)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.dr)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.gp)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.gc)%>
                        </div>
                        <div class="col-sm-1">
                            <%=denilizador(sl.sg)%>
                        </div>
                        <div class="col-sm-1">
                            <%@first = gpc.selecaos.sort_by{ |t| [denilizador(t.pt)*-1, denilizador(t.sg)*-1, denilizador(t.gp)*-1]}.first%>
                            <%@second = gpc.selecaos.sort_by{ |t| [denilizador(t.pt)*-1, denilizador(t.sg)*-1, denilizador(t.gp)*-1]}.second%>
                            <%@third = gpc.selecaos.sort_by{ |t| [denilizador(t.pt)*-1, denilizador(t.sg)*-1, denilizador(t.gp)*-1]}.third%>
                            <%@fourth = gpc.selecaos.sort_by{ |t| [denilizador(t.pt)*-1, denilizador(t.sg)*-1, denilizador(t.gp)*-1]}.fourth%>

                            <%if sl.pt > @third.pt + projection(@third) && sl.pt > @fourth.pt + projection(@fourth)%>
                                <p class="classif"><%="Classificado"%></p>
                            <%elsif sl.pt + projection(sl) < @first.pt && sl.pt + projection(sl) < @second.pt%>
                                <p class="desc"><%="Desclassificado"%></p>
                            <%end%>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
    <%end%>
</div>

