<h1 class="titulo">Hoje:</h1>
<br>
<%if @hoje.empty?%>
    <div class="result">Sem jogos hoje!</div>
    <%if @dia < Jogo.first.data%>
        <div class="result">A Copa ainda não começou!</div>
    <%elsif @dia > Jogo.first.data && @dia < Jogo.last.data%>
        <div class="result">Aguarde a próxima fase.</div>
    <%elsif @dia > Jogo.last.data%>
        <div class="result">A Copa acabou, agora só em 2026!</div>
    <%end%>
    <h1 class="icon_hj"><i class="fa-solid fa-face-sad-cry"></i></h1>
<%else%>
    <%@hoje.each do |h|%>
        <h3 class="hora_hj darkshadow"><%=horario(h.data.strftime "%d/%m/%Y/%H/%M")%></h3>
        <div class="result"><a href="/resultado/<%=h.id%>"><img style="width:5%" src="<%=Selecao.find(h.equipe1).bandeira%>"> <%=Selecao.find(h.equipe1).nome%> x <%=Selecao.find(h.equipe2).nome%> <img style="width:5%" src="<%=Selecao.find(h.equipe2).bandeira%>"></a></div>
        <br>
    <%end%>
<%end%>
<!---
<p>Jogador.create([
<%@jogadores.each do |j|%>
    <span>{nome: "<%=j.nome%>", posicao: "<%=j.posicao%>", status: "<%=j.status%>", age: <%=j.age%>, number: <%=j.number%>, selecao_id: <%=j.selecao_id%>}, </span>
<%end%>
])
--->