<div class="container">
    <div class="titulo">
        <h1 class="darkshadow">Grupos</h1>
    </div>
    <br>
    <div class="row row90">
        <%n = 0%>
        <%@grupos.each do |g|%>
            <%n += 1%>
        <%if n.even?%>
            <%cor = "#F2F3F4"%>
        <%else%>
            <%cor = "#D6DBDF"%>
        <%end%>
            <div class="col-sm-3 littlebox" style="background-color:<%=cor%>">
                <div class="titulopq">
                    <h4 class="darkshadow">Grupo <%=g.nome%></h4>
                </div>
                <%g.selecaos.each do |s|%>
                    <p class="lightshadow" id="grupoitem"><a href="/selecao/<%=s.id%>"><img width="15%" src="<%=s.bandeira%>"> <%=s.nome%></p></a>
                <%end%>
            </div>
        <%end%>
    </div>
    <br>
    <br>
    <div class="titulo">
        <h3 class="darkshadow">Confederações</h3>
    </div>
    <br>
    <br>
    <%@conf.each do |c|%>
        <div class="subtitulo">
            <h5 class="darkshadow"><%=image_tag("#{c.nome.downcase}.png", {:style => "width:30px"})%> <%=c.nome%>: <%=c.selecaos.size%></h5>
        </div>
        <div class="row box lightshadow">
            <%c.selecaos.sort_by {|n| n.nome}.each do |s|%>
                <div class="col-sm-3">
                    <a href="/selecao/<%=s.id%>"><p><img width="10%" src="<%=s.bandeira%>"> <%=s.nome%></p></a>
                </div>
            <%end%>
        </div>
    <%end%>
</div>