<div class="stdaln">
    <h2 class="titulo">Grupo <%=@game.grupo.nome%></h2>
    <div class="container">
        <form action="/registro/<%=@game.id%>">
            <h3 id="gamenumber" class="lightshadow">Jogo #<%=@game.id%></h3>
            <br>
            <br>
            <div class="row result">
                <div class="col-sm-5">
                    <p><img src="<%=@sel1.bandeira%>"> <%=@sel1.nome%></p>
                </div>
                <div class="col-sm-2">
                    <p><input class="gols" type="text" id="g1" name="g1"> X <input class="gols" type="text" id="g2" name="g2"></p>
                </div>
                <div class="col-sm-5">
                    <p><%=@sel2.nome%> <img src="<%=@sel2.bandeira%>"></p>
                </div>
            </div>
            <br>
            <div class="penaltis">
                <div class="row">
                    <div class="col-sm-4 pnt_bg pnt_top">
                    </div>
                    <div class="col-sm-4">
                        <p>Pênaltis?</p>
                    </div>
                    <div class="col-sm-4 pnt_bg pnt_top">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 pnt_bg pnt_bottom">
                    </div>
                    <div class="col-sm-1">
                        <img src="<%=@sel1.bandeira%>">
                    </div>
                    <div class="col-sm-2">
                        <input class="pnt" type="text" id="p1" name="p1"> X <input class="pnt" type="text" id="p2" name="p2">
                    </div>
                    <div class="col-sm-1">
                        <img src="<%=@sel2.bandeira%>">
                    </div>
                    <div class="col-sm-4 pnt_bg pnt_bottom">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <input class="gmbutton" type="submit" value="Marcar">
        </form>
    </div>
</div>