<div class="container">
    <div class="flag_titulo nomargin" style="background-image:url(<%=@selecao.bandeira%>);background-size:contain">
        <%@selecao.nome.upcase.split("").each do |l|%>
            <h1><%=l%></h1>
        <%end%>
    </div>
    <div class="row nomargin whitecanvas" id="dtl_sel">
        <div class="col-sm-6">
            <h2 class="selecao_title">Jogos confirmados até o momento</h2>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-6 hdclass centered">
                    <h6>Data</h6>
                </div>
                <div class="col-sm-4 hdclass centered">
                    <h6>Jogo</h6>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row">
                <%n=0%>
                <%@selecao.jogos.each do |g|%>
                    <%if g.started == false%>
                        <%n += 1%>
                        <%if n.even?%>
                            <%color="#EEEEEE"%>
                        <%else%>
                            <%color="#E0E0E0"%>
                        <%end%>
                    <%else%>
                        <%if @selecao.id == g.equipe1%>
                            <%if g.g1 > g.g2%>
                                <%color="#A9DFBF"%>
                            <%elsif g.g1 < g.g2%>
                                <%color="#F1948A"%>
                            <%else%>
                                <%color="#F9E79F"%>
                            <%end%>
                        <%else%>
                            <%if g.g1 < g.g2%>
                                <%color="#A9DFBF"%>
                            <%elsif g.g1 > g.g2%>
                                <%color="#F1948A"%>
                            <%else%>
                                <%color="#F9E79F"%>
                            <%end%>
                        <%end%>
                    <%end%>
                    <div class="col-sm-1">
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-6 centered downzero">
                        <p><%=bradate(g.data.strftime "%d/%m/%Y/%H/%M")%></p>
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-4 centered downzero">
                        <p style="font-size:80%"><%="#{Selecao.find(g.equipe1).nome} #{g.g1} x #{g.g2} #{Selecao.find(g.equipe2).nome}"%></p>
                    </div>
                    <div class="col-sm-1">
                    </div>  
                <%end%>
            </div>
            <br>
            <br>
             <h2 class="selecao_title">Estatísticas</h2>
             <div class="centered statbox">
                <%if @selecao.jg != 0%>
                    <p>Média de gols a favor: <%=@selecao.gp.to_f/@selecao.jg%></p>
                <%else%>
                    <p>Média de gols a favor: 0</p>
                <%end%>
                <%if @selecao.jg != 0%>
                    <p>Média de gols contra: <%=@selecao.gc.to_f/@selecao.jg%></p>
                <%else%>
                    <p>Média de gols contra: 0</p>
                <%end%>
                <%if @selecao.jg != 0%>
                    <p>Média de pontos por jogo: <%=@selecao.pt.to_f/@selecao.jg%></p>
                <%else%>
                    <p>Média de pontos por jogo: 0</p>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 playerlist">
            <h2 class="selecao_title">Jogadores</h2>
            <p style="margin:0">Técnico: <%=@selecao.treinador.nome%></p>
            <div class="row">
                <div class="col-sm-1 hdclass">
                   <h6>N°</h6>
                </div>
                <div class="col-sm-4 hdclass">
                    <h6>Nome</h6>
                </div>
                <div class="col-sm-3 hdclass">
                    <h6>Posição</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>Gols</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>Faltas</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>C.A.</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>C.V.</h6>
                </div>
            </div>
            <div class="row">    
                <%@jogadores.sort_by{|x| [x.gols*-1, x.number] }.each do |j|%>
                    <%n += 1%>
                   <%if n.even?%>
                        <%color="#EEEEEE"%>
                    <%else%>
                        <%color="#E0E0E0"%>
                    <%end%>
                    <div style="background-color:<%=color%>" class="col-sm-1 downzero">
                        <p><%=j.number%>.</p> 
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-4 downzero">
                        <%if j.status == "capitão"%>
                            <p><%=j.nome%> <i style="font-size:70% !important;font-weight:1000;background-color:blue;padding:2px 8px;color:white;margin-left:25px" class="fa-solid fa-c"></i> </p>
                        <%else%>
                            <p><%=j.nome%></p>
                        <%end%>
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-3 downzero">
                        <p><%=j.posicao%></p>
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-1 downzero">
                        <p><%=denilizador(j.gols)%></p>
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-1 downzero">
                        <p><%=denilizador(j.foul)%></p>
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-1 downzero">
                        <p><%=denilizador(j.yellow_cards.size)%></p>
                    </div>
                    <div style="background-color:<%=color%>" class="col-sm-1 downzero">
                        <p><%=denilizador(j.red_cards.size)%></p>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>