<div class="container">
    <div class="flag_titulo nomargin" style="background-image:url(<%=@selecao.bandeira%>);background-size:contain">
        <%@selecao.nome.upcase.split("").each do |l|%>
            <h1><%=l%></h1>
        <%end%>
    </div>
    <div class="row nomargin whitecanvas" id="dtl_sel">
        <div class="col-sm-6">
            <h2>Jogos confirmados até o momento</h2>
            <%@selecao.jogos.each do |g|%>
                <p style="text-align:center"><%=bradate(g.data.strftime "%d/%m/%Y/%H/%M")%> - <%="#{Selecao.find(g.equipe1).nome} x #{Selecao.find(g.equipe2).nome}"%></p>
            <%end%>
             <h2>Estatísticas</h2>
                <%if @selecao.jg != 0%>
                    <p style="text-align:center">Média de gols a favor: <%=@selecao.gp/@selecao.jg%></p>
                <%else%>
                    <p style="text-align:center">Média de gols a favor: 0</p>
                <%end%>
                <%if @selecao.jg != 0%>
                    <p style="text-align:center">Média de gols contra: <%=@selecao.gc/@selecao.jg%></p>
                <%else%>
                    <p style="text-align:center">Média de gols contra: 0</p>
                <%end%>
                <%if @selecao.jg != 0%>
                    <p style="text-align:center">Média de pontos por jogo: <%=@selecao.pt/@selecao.jg%></p>
                <%else%>
                    <p style="text-align:center">Média de pontos por jogo: 0</p>
                <%end%>
        </div>
        <div class="col-sm-6 playerlist">
            <h2>Jogadores</h2>
            <div class="row">
                <div class="col-sm-1 hdclass">
                   <h6>N°</h6>
                </div>
                <div class="col-sm-4 hdclass">
                    <h6>Nome</h6>
                </div>
                <div class="col-sm-3 hdclass">
                    <h6>Posição</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>Gols</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>Faltas</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>C.A.</h6>
                </div>
                <div class="col-sm-1 hdclass">
                    <h6>C.V.</h6>
                </div>
            </div>
            <div class="row">    
                <%@selecao.jogadors.sort_by{|x| x.number}.each do |j|%>
                    <div class="col-sm-1 players">
                        <p><%=j.number%>.</p> 
                    </div>
                    <div class="col-sm-4 players">
                        <p><%=j.nome%></p>
                    </div>
                    <div class="col-sm-3 players">
                        <p><%=j.posicao%></p>
                    </div>
                    <div class="col-sm-1 players">
                        <p><%=denilizador(j.gols)%></p>
                    </div>
                    <div class="col-sm-1 players">
                        <p><%=denilizador(j.foul)%></p>
                    </div>
                    <div class="col-sm-1 players">
                        <p><%=denilizador(j.yellow)%></p>
                    </div>
                    <div class="col-sm-1 players">
                        <p><%=denilizador(j.red)%></p>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>