<div class="container">
    <div class="titulo">
        <h1 class="darkshadow">Tabela de Jogos</h1>
    </div>
    <%@grupos.each do |g|%>
        <div class="darkshadow subtitulo">
            <%if g.nome.length == 1%>
                <h4>Grupo <%=g.nome%></h4>
            <%else%>
                <h4><%=g.nome%></h4>
            <%end%>
        </div>
        <div class="jogo">
            <div class="row">
                <%g.jogos.each do |j|%>
                    <div class="col-sm-6">
                        <a class="link_jg" href="/resultado/<%=j.id%>">
                            <div class="datahora darkshadow">
                                <h6><%=bradate(j.data.strftime "%d/%m/%Y/%H/%M")%></h6>
                            </div>
                            <div class="equipes lightshadow">
                                <%if @id_selecaos.include?(j.equipe1) && @id_selecaos.include?(j.equipe2)%>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <p><img class="gflag" src="<%=Selecao.find(j.equipe1).bandeira%>"></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p> <%=Selecao.find(j.equipe1).nome%></p>
                                        </div>
                                        <div class="col-sm-2">
                                            <p><%=j.g1 == nil ? " " : j.g1%> x <%=j.g2 == nil ? " " : j.g2%></p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><%=Selecao.find(j.equipe2).nome%></p>
                                        </div>
                                        <div class="col-sm-2">
                                            <p><img class="gflag" src="<%=Selecao.find(j.equipe2).bandeira%>"></p>
                                        </div>
                                    </div>
                                <%else%>
                                    <p>A definir</p>
                                <%end%>
                            </div>
                        </a>
                    </div>
                <%end%>
            </div>
        </div>
    <%end%>
</div>