<div class="container">
    <div class="titulo">
        <h1 class="lightshadow">Tabela de Jogos</h1>
    </div>
    <br>
    <br>
    <%@grupos.each do |g|%>
        <div class="lightshadow">
            <%if g.nome.length == 1%>
                <h2>Grupo <%=g.nome%></h2>
            <%else%>
                <h2><%=g.nome%></h2>
            <%end%>
        </div>
        <div class="row">
            <%g.jogos.each do |j|%>
                <div class="col-sm-6" style="text-align:center">
                    <h6><%=j.data.strftime "%d/%m/%Y - %H:%M"%>
                    <%if @id_selecaos.include?(j.equipe1 && j.equipe2)%>
                        <p><%=Selecao.find(j.equipe1).nome%> x <%=Selecao.find(j.equipe2).nome%></p>
                    <%else%>
                        <p>A definir x A definir</p>
                    <%end%>
                </div>
            <%end%>
        </div>
    <%end%>
</div>