<!DOCTYPE html>
<html>
  <head>
    <title>Worldcup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:wght@400;700&family=Playfair+Display:wght@800&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="barra_nav">
      <a href="/">Home</a>
      <a href="/jogos">Tabela de Jogos</a>
      <a href="/classificacao">Classificação</a>
      <a href="/estatisticas">Estatísticas</a>
      <a href="/hoje">É hoje!</a>
    </div>
    <%= yield %>
  </body>
</html>
